
.mywork-container
{

    font-family: 'Cutive Mono', monospace;
    
    min-height: 100vh;

}

.mywork-container h1
{
 
    font-family: 'Chivo Mono', monospace;
    font-weight: 900;

}