@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600;700;800;900&family=Cutive+Mono&display=swap");
:root {
  --primary-color: #fb7e14;
  --secondary-color: #98faec;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  box-shadow: rgba(118, 120, 122, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #000000;
}

.btn-primary {
  border: 2px solid var(--secondary-color);
  border-radius: 20px 0 20px 0;
  background-color: transparent;
  color: var(--secondary-color);
  padding: 5px 1px;
  transition: all 300ms ease-in;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  color: black;
}

.btn-primary:active {
  transform: scale(1.15);
}

 
::-webkit-scrollbar {
  width: 10px; 
  background-color: #000000;
}

 
::-webkit-scrollbar-thumb {
  background: #555;  
  border-radius: 5px;  
}
 
::-webkit-scrollbar-thumb:hover {
 
  background: #98faec;  
}

 